<h3>Title: {{model.card.title}}</h3>

<div><img src="{{model.card.url_l}}" /></div>

<dl>
  <dt>Description</dt>
  <dd>{{model.card.description._content}}</dd>
  <dt>Faves</dt>
  <dd>{{model.card.count_faves}}</dd>
  <dt>Comments</dt>
  <dd>{{model.card.count_comments}}</dd>
</dl>
