<h3>Title: {{model.card.title}}</h3>

<div class="card-photo">
  <div class="image-main">
    <img src="{{model.card.mediumPhoto.source}}"/>
  </div>
  {{interactive/lists/photos-list
    handlerClick=(action "showPhoto")
    model=model.card.photos
  }}
</div>

<div class="clearfix"></div>

<dl>
  <dt>Description</dt>
  <dd>{{model.card.description}}</dd>
  <dt>Views</dt>
  <dd>{{model.card.views}}</dd>
  <dt>Faves</dt>
  <dd>{{model.card.count_faves}}</dd>
</dl>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Comments</h3>
  </div>
  <div class="panel-body">

    {{interactive/lists/comments-list model=model.comments}}

  </div>
</div>

{{interactive/modals/photo-modal
  model=photoCurrent
  open=openModal
}}
